.DS_Store
/node_modules/

# React Router
/.react-router/
/build/

# Cursor rules
.cursorrules

# Hono API
/source/views/dashboard/apartments/index.ts

# Axios API
/source/views/dashboard/apartments/apartments.tsx